*{
  margin: 0%;
  padding: 0%;

}
.header ul li {

  font-size: small;
}
.text-justify {
  text-align: right;
}
.content_image {
  width: 50%;
  margin-left: 200px;
}
.header {
  margin-right: 200px;
  margin-left: 200px;

}
#first_content
{
  width: 50%;
}
