/*common css start */
*{
  box-sizing: border-box;
}

/*COmmmon css end */
.content_menu ul li{
  align-content: right;
}
header ul li{
  align-content: right;
  color: deepskyblue;
}
.content_image {
  width: 400px;
  padding-left: 300px;
  border-radius: 40px;
  align-items: left;
}
body
{
 padding-right: 140px;
  padding-left: 140px;
}